@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

a {
    color: #22D4FD;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

img {
    border-radius: 100px;
    width: 480px;
    height: 600px;
}

.apresentacao {
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.subtitulo-destaque {
    color: #22D4FD;
    font-size: 30px;
    font-family: "Krona One", sans-serif;
}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;

}

.apresentacao-botoes{
    width: 620px;
    display: flex;
    justify-content: space-between;

}

.apresentacao-botao{
    background-color: #22D4FD;
    width: 200px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    
}

